@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  position: absolute;
  z-index: 1;
}
header nav {
  width: 80%;
}
header nav img {
  width: 240px;
  margin-right: 30px;
}
header nav .collapseDiv ul {
  display: flex;
  gap: 10px;
}
header nav .collapseDiv ul li a {
  font-weight: 500;
  color: white !important;
  font-size: 16px;
}
header nav .collapseDiv ul li a:hover {
  background-color: #018498;
  width: 100%;
  border-radius: 5px;
}
header .canvasbtn {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
header .canvasbtn:hover {
  background-color: transparent;
  border: none;
}
header .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}
header .information h2 {
  color: black;
  font-weight: 700;
  font-size: 28px;
}
header .information .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
header .information .contact span {
  font-weight: 450;
  color: black;
  font-size: 20px;
}
header .information .contact .contacticon {
  background-color: #018498;
  width: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 15px;
}
header .socialnetwork {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
header .socialnetwork .socialnetworkicon {
  border: 1px solid #018498;
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
}
header span {
  font-size: 20px;
}
header .dashboard {
  background-color: #018498;
  border: none;
  outline: none;
  width: 190px;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 5px;
}
header .dashboard img {
  width: 60px;
}
header .dashboard span {
  color: white;
  font-weight: 500;
}

.hover-content {
  display: none;
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
}
.hover-content .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  color: black !important;
  padding-right: 15px;
}
.hover-content .about a {
  color: black !important;
}
.hover-content .about a:hover {
  color: white !important;
  background-color: #018498;
  padding: 7px;
  width: auto;
  border-radius: 3px;
  text-decoration: none;
  width: 100%;
}

.nav-item:hover .hover-content {
  display: block;
}

#beyondhorizons {
  width: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutushead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  position: absolute;
  z-index: 1;
}
.aboutushead nav {
  width: 80%;
}
.aboutushead nav img {
  width: 240px;
}
.aboutushead nav .collapseDiv {
  justify-content: flex-end;
}
.aboutushead nav .collapseDiv ul {
  display: flex;
  gap: 15px;
}
.aboutushead nav .collapseDiv ul li a {
  font-weight: 700;
  color: black !important;
  font-size: 14px;
}
.aboutushead nav .collapseDiv ul li a:hover {
  background-color: #018498;
  color: white !important;
  width: 100%;
  border-radius: 5px;
}
.aboutushead .canvasbtn {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.aboutushead .canvasbtn:hover {
  background-color: transparent;
  border: none;
}
.aboutushead .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}
.aboutushead .information h2 {
  color: black;
  font-weight: 700;
  font-size: 28px;
}
.aboutushead .information .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
.aboutushead .information .contact span {
  font-weight: 450;
  color: black;
  font-size: 20px;
}
.aboutushead .information .contact .contacticon {
  background-color: #018498;
  width: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 15px;
}
.aboutushead .socialnetwork {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.aboutushead .socialnetwork .socialnetworkicon {
  border: 1px solid #018498;
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
}
.aboutushead span {
  font-size: 20px;
}
.aboutushead .dashboard {
  background-color: #018498;
  border: none;
  outline: none;
  width: 190px;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 5px;
}
.aboutushead .dashboard img {
  width: 60px;
}
.aboutushead .dashboard span {
  color: white;
  font-weight: 500;
}

.hover-content {
  display: none;
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
}
.hover-content .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  color: black !important;
  padding-right: 15px;
}
.hover-content .about a {
  color: black !important;
}
.hover-content .about a:hover {
  color: white !important;
  background-color: #018498;
  padding: 7px;
  width: auto;
  border-radius: 3px;
  text-decoration: none;
  width: 100%;
}

.nav-item:hover .hover-content {
  display: block;
}

#aboutus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/img/header-sailuxe-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px;
}
#aboutus .aboutuscontainer {
  margin: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutus .aboutuscontainer .row {
  margin: 30px;
  padding: 30px;
}
#aboutus .aboutuscontainer .row .aboutustext {
  margin: 20px;
  padding: 20px;
  text-align: center;
}
#aboutus .aboutuscontainer .row .aboutustext h1 {
  color: black;
  font-weight: 700;
}
#aboutus .aboutuscontainer .row .aboutustext a {
  text-decoration: none;
  color: black;
}

#discoversailuxe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  opacity: 10;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
#discoversailuxe .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#discoversailuxe .container .row .discoversailuxephoto img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}
#discoversailuxe .container .row .discoversailuxetext {
  width: 100%;
}
#discoversailuxe .container .row .discoversailuxetext h2 {
  font-size: 25px;
  font-weight: 900;
}
#discoversailuxe .container .row .discoversailuxetext p {
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.slide-from-left {
  opacity: 3;
  transform: translateX(-50px); /* Başlangıç pozisyonu -50px solda */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#discoversailuxe.show {
  opacity: 1;
  transform: translateY(0);
}

#sailuxeadvantages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0;
}
#sailuxeadvantages .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sailuxeadvantages .container .row .sailuxeadvantagestext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: black;
}
#sailuxeadvantages .container .row .sailuxeadvantagestext h3 {
  font-weight: 700;
}
#sailuxeadvantages .container .row .sailuxeadvantagestext span {
  font-weight: 500;
}
#sailuxeadvantages .container .row .advantages {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
#sailuxeadvantages .container .row .advantages img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#sailuxeadvantages .container .row .advantages .advantagestext:hover {
  background-color: white;
  width: 100%;
  color: #018498;
  border: 1px solid #018498;
}
#sailuxeadvantages .container .row .expertise {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 194px;
}
#sailuxeadvantages .container .row .expertise img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#sailuxeadvantages .container .row .expertise .advantagestext:hover {
  background-color: white;
  width: 100%;
  color: #018498;
  border: 1px solid #018498;
  height: 115px;
}

#sailuxeadvantages.show {
  opacity: 1;
}

.advantages,
.expertise {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.advantages.show,
.expertise.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s; /* İstediğiniz gecikme süresini ayarlayın */
}

#seascollaboration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#seascollaboration .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#seascollaboration .container .row .collaborationtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: black;
}
#seascollaboration .container .row .collaborationtext h3 {
  font-weight: 700;
}
#seascollaboration .container .row .collaborationtext span {
  font-weight: 500;
}
#seascollaboration .container .row .collaborationphoto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collaborationphoto img {
  max-width: 100%;
  filter: grayscale(100%); /* Başlangıçta gri tonlama */
  transition: filter 0.3s ease, transform 0.3s ease;
}

.collaborationphoto:hover img {
  filter: grayscale(0%); /* Hover olduğunda gri tonlamayı kaldır (renkli hale getir) */
  transform: translateY(-5px); /* Hover olduğunda 10px yukarı kaldır */
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background: linear-gradient(rgba(1, 132, 152, 0.7), rgba(1, 132, 152, 0.7), rgba(1, 132, 152, 0.7)), url("/assets/img/footer-sailuxe-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
footer .container .row .sailuxelogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .container .row .sailuxelogo img {
  max-width: 100%;
}
footer .container .row .advantages {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
footer .container .row .advantages img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .container .row .expertise {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 194px;
}
footer .container .row .expertise img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .container .row .socialnetworks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .container .row .socialnetworks div {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
footer .container .row .socialnetworks div:hover {
  background-color: #018498;
}
footer .container .row .payments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
footer .container .row .paymentext {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutushead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  position: absolute;
  z-index: 1;
}
.aboutushead nav {
  width: 80%;
}
.aboutushead nav img {
  width: 240px;
}
.aboutushead nav .collapseDiv {
  justify-content: flex-end;
}
.aboutushead nav .collapseDiv ul {
  display: flex;
  gap: 15px;
}
.aboutushead nav .collapseDiv ul li a {
  font-weight: 700;
  color: black !important;
  font-size: 14px;
}
.aboutushead nav .collapseDiv ul li a:hover {
  background-color: #018498;
  color: white !important;
  width: 100%;
  border-radius: 5px;
}
.aboutushead .canvasbtn {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.aboutushead .canvasbtn:hover {
  background-color: transparent;
  border: none;
}
.aboutushead .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}
.aboutushead .information h2 {
  color: black;
  font-weight: 700;
  font-size: 28px;
}
.aboutushead .information .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
.aboutushead .information .contact span {
  font-weight: 450;
  color: black;
  font-size: 20px;
}
.aboutushead .information .contact .contacticon {
  background-color: #018498;
  width: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 15px;
}
.aboutushead .socialnetwork {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.aboutushead .socialnetwork .socialnetworkicon {
  border: 1px solid #018498;
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
}
.aboutushead span {
  font-size: 20px;
}
.aboutushead .dashboard {
  background-color: #018498;
  border: none;
  outline: none;
  width: 190px;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 5px;
}
.aboutushead .dashboard img {
  width: 60px;
}
.aboutushead .dashboard span {
  color: white;
  font-weight: 500;
}

.hover-content {
  display: none;
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
}
.hover-content .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  color: black !important;
  padding-right: 15px;
}
.hover-content .about a {
  color: black !important;
}
.hover-content .about a:hover {
  color: white !important;
  background-color: #018498;
  padding: 7px;
  width: auto;
  border-radius: 3px;
  text-decoration: none;
  width: 100%;
}

.nav-item:hover .hover-content {
  display: block;
}

#aboutus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/img/header-sailuxe-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px;
}
#aboutus .aboutuscontainer {
  margin: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutus .aboutuscontainer .row {
  margin: 30px;
  padding: 30px;
}
#aboutus .aboutuscontainer .row .aboutustext {
  margin: 20px;
  padding: 20px;
  text-align: center;
}
#aboutus .aboutuscontainer .row .aboutustext h1 {
  color: black;
  font-weight: 700;
}
#aboutus .aboutuscontainer .row .aboutustext a {
  text-decoration: none;
  color: black;
}

#sailuxeadvantages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0;
}
#sailuxeadvantages .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sailuxeadvantages .container .row .sailuxeadvantagestext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: black;
}
#sailuxeadvantages .container .row .sailuxeadvantagestext h3 {
  font-weight: 700;
}
#sailuxeadvantages .container .row .sailuxeadvantagestext span {
  font-weight: 500;
}
#sailuxeadvantages .container .row .advantages {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
#sailuxeadvantages .container .row .advantages img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#sailuxeadvantages .container .row .advantages .advantagestext:hover {
  background-color: white;
  width: 100%;
  color: #018498;
  border: 1px solid #018498;
}
#sailuxeadvantages .container .row .expertise {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 194px;
}
#sailuxeadvantages .container .row .expertise img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#sailuxeadvantages .container .row .expertise .advantagestext:hover {
  background-color: white;
  width: 100%;
  color: #018498;
  border: 1px solid #018498;
  height: 115px;
}

#sailuxeadvantages.show {
  opacity: 1;
}

.advantages,
.expertise {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.advantages.show,
.expertise.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s; /* İstediğiniz gecikme süresini ayarlayın */
}

#seascollaboration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#seascollaboration .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#seascollaboration .container .row .collaborationtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: black;
}
#seascollaboration .container .row .collaborationtext h3 {
  font-weight: 700;
}
#seascollaboration .container .row .collaborationtext span {
  font-weight: 500;
}
#seascollaboration .container .row .collaborationphoto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collaborationphoto img {
  max-width: 100%;
  filter: grayscale(100%); /* Başlangıçta gri tonlama */
  transition: filter 0.3s ease, transform 0.3s ease;
}

.collaborationphoto:hover img {
  filter: grayscale(0%); /* Hover olduğunda gri tonlamayı kaldır (renkli hale getir) */
  transform: translateY(-5px); /* Hover olduğunda 10px yukarı kaldır */
}

#ourteam {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#ourteam .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#ourteam .container .row .ourteamtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
#ourteam .container .row .ourteamtext h3 {
  font-weight: 700;
}
#ourteam .container .row .teammembers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 30px;
}
#ourteam .container .row .teammembers img {
  max-width: 100%;
  border: 2px solid #018498;
  border-radius: 5px;
}
#ourteam .container .row .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.teammembers img {
  transition: transform 0.3s ease-in-out;
}

.teammembers:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background: linear-gradient(rgba(1, 132, 152, 0.7), rgba(1, 132, 152, 0.7), rgba(1, 132, 152, 0.7)), url("/assets/img/footer-sailuxe-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
footer .container .row .sailuxelogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
footer .container .row .sailuxelogo img {
  max-width: 100%;
}
footer .container .row .advantages {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
footer .container .row .advantages img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .container .row .expertise {
  background-color: #018498;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 180px;
}
footer .container .row .expertise img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .container .row .socialnetworks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .container .row .socialnetworks div {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
footer .container .row .socialnetworks div:hover {
  background-color: #018498;
}
footer .container .row .payments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
footer .container .row .paymentext {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20px;
}