*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aboutushead{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-right: 20px;
    position: absolute;
    z-index: 1;
    nav{
        width: 80%;
        
        img{
            width: 240px;
        }
        .collapseDiv{
            justify-content: flex-end;
            ul{
                display: flex;
                gap: 15px;
                li{
                    a{
                        font-weight: 700;
                        color: black !important;
                        font-size: 14px;
                        &:hover{
                            background-color: #018498;
                            color: white !important;
                            width: 100%;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
    .canvasbtn{
        background-color: transparent;
        border: none;
        font-size: 20px;
        &:hover{
            background-color: transparent;
            border: none;
        }
    }
    .information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        gap: 30px;
        h2{
            color: black;
            font-weight: 700;
            font-size: 28px;
        }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 10px;
            span{
                font-weight: 450;
                color: black;
                font-size: 20px;
            }
            .contacticon{
                background-color: #018498;
                width: 90px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 12px;
                margin-top: 15px;
            }
        }
    }
    .socialnetwork{
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        .socialnetworkicon{
            border: 1px solid #018498;
            padding: 15px;
            background-color: transparent;
            border-radius: 5px;
        }
    }
    span{
        font-size: 20px;
    }
    .dashboard{
        img{
            width: 60px;
        }
        background-color: #018498;
        border: none;
        outline: none;
        width: 190px;
        height: 70px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        border-radius: 5px;
        span{
            color: white;
            font-weight: 500;
        }
    }
}

.hover-content {
    display: none;
    position: absolute;   
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
    border-radius: 5px;
   .about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    color: black !important;
    padding-right: 15px;
    a {
        color: black !important;
        &:hover{
            color: white !important;
            background-color: #018498;
            padding: 7px;
            width:auto;
            border-radius: 3px;
            text-decoration: none;
            width: 100%;
        }
    }
   }
}
.nav-item:hover .hover-content {
    display: block;
}


#aboutus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255,0.9),rgba(255, 255, 255,0.9),rgba(255, 255, 255,0.9)),url('/assets/img/header-sailuxe-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    .aboutuscontainer{
        margin: 30px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .row{
            margin: 30px;
            padding: 30px;
            .aboutustext{
                margin: 20px;
                padding: 20px;
                text-align: center;
                h1{
                    color: black;
                    font-weight: 700;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

#discoversailuxe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    opacity: 10;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .row{
            .discoversailuxephoto{
                img{
                    max-width: 100%;
                    border-radius: 5px;
                    margin-bottom: 20px;
                }
            }
            .discoversailuxetext{
                width: 100%;
                h2{
                    font-size: 25px;
                    font-weight: 900;
                }
                p{
                    font-size: 13px;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                }
            }
        }
    }
}
.slide-from-left {
    opacity: 3;
    transform: translateX(-50px); /* Başlangıç pozisyonu -50px solda */
    transition: opacity 0.8s ease, transform 0.8s ease;
}
#discoversailuxe.show {
    opacity: 1;
    transform: translateY(0);
}

#sailuxeadvantages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .row{
            .sailuxeadvantagestext{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;
                color: black;
               h3{
                font-weight: 700;
               }
               span{
                font-weight: 500;
               }
            }
            .advantages{
                background-color: #018498;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: white;
                border-radius: 5px;
                margin-bottom: 30px;
                img{
                    width: 80px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .advantagestext{
                    &:hover{
                        background-color: white;
                        width: 100%;
                        color: #018498;
                        border: 1px solid #018498;
                    }
                }
            }
            .expertise{
                background-color: #018498;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: white;
                border-radius: 5px;
                margin-bottom: 30px;
                height: 194px;
                img{
                   width: 80px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .advantagestext{
                    &:hover{
                        background-color: white;
                        width: 100%;
                        color: #018498;
                        border: 1px solid #018498;
                        height: 115px;
                    }
                }
            }
           
        }
    }
}
#sailuxeadvantages.show {
    opacity: 1;
}

.advantages,
.expertise {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.advantages.show,
.expertise.show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.8s; /* İstediğiniz gecikme süresini ayarlayın */
}

#seascollaboration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .row{
            .collaborationtext{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;
                color: black;
               h3{
                font-weight: 700;
               }
               span{
                font-weight: 500;
               }
            }
            .collaborationphoto{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.collaborationphoto img {
    max-width: 100%;
    filter: grayscale(100%); /* Başlangıçta gri tonlama */
    transition: filter 0.3s ease, transform 0.3s ease;
}

.collaborationphoto:hover img {
    filter: grayscale(0%); /* Hover olduğunda gri tonlamayı kaldır (renkli hale getir) */
    transform: translateY(-5px); /* Hover olduğunda 10px yukarı kaldır */
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background: linear-gradient(rgb(1, 132, 152,0.7),rgb(1, 132, 152,0.7),rgb(1, 132, 152,0.7)),url('/assets/img/footer-sailuxe-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .row{
            .sailuxelogo{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                img{
                    max-width: 100%;
                }
            }
            .advantages{
                background-color: #018498;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: white;
                border-radius: 5px;
                margin-bottom: 30px;
                img{
                    width: 80px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
            .expertise{
                background-color: #018498;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: white;
                border-radius: 5px;
                margin-bottom: 30px;
                height: 194px;
                img{
                   width: 80px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
            .socialnetworks{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                div{
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 10px;
                    &:hover{
                        background-color: #018498;
                    }
                }
            }
            .payments{
                display: flex;
                align-items: center;
                justify-content: center; 
                margin-top: 20px;
  
            }
            .paymentext{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                margin-top: 20px;
            }
        } 
    }
}